<%= render "topbar" %>

<section class="highlights-section">
	<header>
		<h1><%= @heading %></h1>

		<%= form_tag("/highlights/", :method => "get", :enforce_utf8 => false, :id => "searchform") do %>
			<%= text_field_tag :search, "", :id => "searchbar", :placeholder => "Search" %>
			<%= submit_tag "", :name => nil, :id => "search-btn" %>
		<% end %>
	</header>

	<ul class="highlights">
		<% @highlights.each do |highlight| %>
			<%= content_tag(:li, CGI.unescapeHTML(highlight.body_html).html_safe) %>
		<% end %>
	</ul>
</section>

<div id="vid-container" class="media">
	<video id="vid-player" autoplay loop>
		<source id="webm-source" src="" type="video/webm">
		<source id="mp4-source" src="" type="video/mp4">
	</video>
</div>

<div id="img-container" class="media">
	<img id="img-elem" src="">
</div>

<div class="loading"></div>
